.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right > img {
  transform: scaleX(-1);
}

.fighter-preview___img {
  flex: 0 0 40vh;
}

.fighter-preview___text {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  font-variant-caps: all-small-caps;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 1);
  margin: 0;
}
